In [46]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import sklearn

In [47]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, accuracy_score

In [48]:
from sklearn.naive_bayes import GaussianNB

In [49]:
data=pd.read_csv('iris_csv.csv')
data.head()

   sepallength  sepalwidth  petallength  petalwidth        class
0          5.1         3.5          1.4         0.2  Iris-setosa
1          4.9         3.0          1.4         0.2  Iris-setosa
2          4.7         3.2          1.3         0.2  Iris-setosa
3          4.6         3.1          1.5         0.2  Iris-setosa
4          5.0         3.6          1.4         0.2  Iris-setosa

In [50]:
x=data.iloc[:,:4]
x.head()

   sepallength  sepalwidth  petallength  petalwidth
0          5.1         3.5          1.4         0.2
1          4.9         3.0          1.4         0.2
2          4.7         3.2          1.3         0.2
3          4.6         3.1          1.5         0.2
4          5.0         3.6          1.4         0.2

In [51]:
y=data.iloc[:,-1]
y.head()

0    Iris-setosa
1    Iris-setosa
2    Iris-setosa
3    Iris-setosa
4    Iris-setosa
Name: class, dtype: object

In [52]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=.20)

In [53]:
x_train.head()

     sepallength  sepalwidth  petallength  petalwidth
72           6.3         2.5          4.9         1.5
96           5.7         2.9          4.2         1.3
101          5.8         2.7          5.1         1.9
89           5.5         2.5          4.0         1.3
98           5.1         2.5          3.0         1.1

In [54]:
y_train

72     Iris-versicolor
96     Iris-versicolor
101     Iris-virginica
89     Iris-versicolor
98     Iris-versicolor
            ...
106     Iris-virginica
129     Iris-virginica
50     Iris-versicolor
5          Iris-setosa
143     Iris-virginica
Name: class, Length: 120, dtype: object

In [55]:
x_train

     sepallength  sepalwidth  petallength  petalwidth
72           6.3         2.5          4.9         1.5
96           5.7         2.9          4.2         1.3
101          5.8         2.7          5.1         1.9
89           5.5         2.5          4.0         1.3
98           5.1         2.5          3.0         1.1
..           ...         ...          ...         ...
106          4.9         2.5          4.5         1.7
129          7.2         3.0          5.8         1.6
50           7.0         3.2          4.7         1.4
5            5.4         3.9          1.7         0.4
143          6.8         3.2          5.9         2.3

[120 rows x 4 columns]

In [56]:
x_test

     sepallength  sepalwidth  petallength  petalwidth
34           4.9         3.1          1.5         0.1
122          7.7         2.8          6.7         2.0
137          6.4         3.1          5.5         1.8
109          7.2         3.6          6.1         2.5
68           6.2         2.2          4.5         1.5
103          6.3         2.9          5.6         1.8
0            5.1         3.5          1.4         0.2
102          7.1         3.0          5.9         2.1
117          7.7         3.8          6.7         2.2
134          6.1         2.6          5.6         1.4
48           5.3         3.7          1.5         0.2
142          5.8         2.7          5.1         1.9
64           5.6         2.9          3.6         1.3
73           6.1         2.8          4.7         1.2
113          5.7         2.5          5.0         2.0
11           4.8         3.4          1.6         0.2
71           6.1         2.8          4.0         1.3
28           5.2         3.4          1.4         0.2
87           6.3         2.3          4.4         1.3
100          6.3         3.3          6.0         2.5
141          6.9         3.1          5.1         2.3
140          6.7         3.1          5.6         2.4
80           5.5         2.4          3.8         1.1
131          7.9         3.8          6.4         2.0
25           5.0         3.0          1.6         0.2
22           4.6         3.6          1.0         0.2
90           5.5         2.6          4.4         1.2
123          6.3         2.7          4.9         1.8
112          6.8         3.0          5.5         2.1
3            4.6         3.1          1.5         0.2

In [57]:
classifier=GaussianNB()
classifier.fit(x_train,y_train)

GaussianNB()

In [58]:
y_pred=classifier.predict(x_test)

In [59]:
y_pred

array(['Iris-setosa', 'Iris-virginica', 'Iris-virginica',
       'Iris-virginica', 'Iris-versicolor', 'Iris-virginica',
       'Iris-setosa', 'Iris-virginica', 'Iris-virginica',
       'Iris-versicolor', 'Iris-setosa', 'Iris-virginica',
       'Iris-versicolor', 'Iris-versicolor', 'Iris-virginica',
       'Iris-setosa', 'Iris-versicolor', 'Iris-setosa', 'Iris-versicolor',
       'Iris-virginica', 'Iris-virginica', 'Iris-virginica',
       'Iris-versicolor', 'Iris-virginica', 'Iris-setosa', 'Iris-setosa',
       'Iris-versicolor', 'Iris-virginica', 'Iris-virginica',
       'Iris-setosa'], dtype='<U15')

In [60]:
y_test

34         Iris-setosa
122     Iris-virginica
137     Iris-virginica
109     Iris-virginica
68     Iris-versicolor
103     Iris-virginica
0          Iris-setosa
102     Iris-virginica
117     Iris-virginica
134     Iris-virginica
48         Iris-setosa
142     Iris-virginica
64     Iris-versicolor
73     Iris-versicolor
113     Iris-virginica
11         Iris-setosa
71     Iris-versicolor
28         Iris-setosa
87     Iris-versicolor
100     Iris-virginica
141     Iris-virginica
140     Iris-virginica
80     Iris-versicolor
131     Iris-virginica
25         Iris-setosa
22         Iris-setosa
90     Iris-versicolor
123     Iris-virginica
112     Iris-virginica
3          Iris-setosa
Name: class, dtype: object

In [61]:
cm=confusion_matrix(y_test,y_pred)
ac=accuracy_score(y_test,y_pred)

In [62]:
cm

array([[ 8,  0,  0],
       [ 0,  7,  0],
       [ 0,  1, 14]])

In [63]:
ac

0.9666666666666667